pipeline/ETL_Table_Having_Data_Import_Data.json
{
	"name": "ETL_Table_Having_Data_Import_Data",
	"properties": {
		"activities": [
			{
				"name": "Get Number Of Records from Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Stage_Database",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Validate Source Table Having Data or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Number Of Records from Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get Number Of Records from Table').output,'firstrow')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Export data into Source Container",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Stage_Database",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}